<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
          theme: {
            extend: {
              colors: {
                clifford: '#da373d',
              }
            }
          }
        }
      </script>
        <style type="text/tailwindcss">
            @layer utilities {
              .content-auto {
                content-visibility: auto;
              }
            }
          </style>
          <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp,container-queries"></script>
    <title>QRCode</title>
    <!-- <link rel="stylesheet" href="index.css"> -->
</head>
<body>
        <div class="flex justify-center px-20 gap-5 w-full my-10 mx-auto">
          <div class="bg-slate-200 w-[60%] h-[500px] p-24 ps-40 rounded-lg">
            <img src="<%= converturl %>"  class="w-[90%]" alt="" >
            
          </div>
        </div>
</body>
</html>